@media only screen and (max-width: 900px) {

    .nav ul {
        flex-direction: column;
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background: #000;
        text-align: center;
        justify-content: space-around;
        opacity: 0;
        transition: all 1s ease;
    }

    .nav ul.active {
        opacity: 1;
    }

    .nav ul.active .fa-bars {
        right: 100px;
    }

    .nav ul li a {
        display: block;
        font-size: 24px;
        color: crimson;
    }

    .nav ul li a:hover {
        color: white;
    }

    .active.active {
        color: white;
    }

    .fa-bars {
        display: block;
    }

    .fa-bars.active:before {
        content: "\f00d";
    }
}